<style>
  select {
    width: 500px; /* Adjust the width as per your requirement */
    padding: 10px; /* Adjust the padding as per your requirement */
    font-size: 12px; /* Adjust the font size as per your requirement */
  }
  hr {
    border-color: lightgray;
  }
</style>

<div style="margin-top: 40px;"></div>

<div style="text-align: center;">
  <h1>Welcome</h1>
  <p>Explore sleep patterns, performance, and well-being with our interactive graphs.</p>
</div>

<hr width="700px" size="5">

<div style="text-align: center;">
  <h2>How it Works</h2>
  <p>Select a graph from the dropdown menu to visualize different aspects of sleep.</p>
</div>

<hr width="700px" size="5">

<div style="text-align: center;">
  <h2>Why Explore</h2>
  <p>Understanding your sleep patterns can help improve your well-being and performance.</p>
</div>

<hr width="700px" size="5">

<div style="text-align: center;">
  <h2>Get Started</h2>
  <p>Choose a graph to begin exploring your sleep data.</p>
</div>


<hr width="700px" size="5">

<div style="text-align: center;">
  <mat-form-field appearance="fill">
    <mat-label>Graphs</mat-label>
    <mat-select required>
      <mat-option value="Graph 1">Daily Strain vs Sleep Performance</mat-option>
      <mat-option value="Graph 2">Sleep Efficiency VS Awake</mat-option>
      <mat-option value="Graph 3">Awake Duration VS Sleep Need</mat-option>
      <mat-option value="Graph 4">G4</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Tableau Visualization
<div ngSkipHydration class='tableauPlaceholder' id='viz1714176135384' style='position: relative;'>
  <noscript>
    <a href="#">
      <img alt="Day Strain VS Sleep Performance" src="https://public.tableau.com/static/images/Da/DayStrainVSSleepPerfomance/DayStrainVSSleepPerformance/1_rss.png" style="border: none" />
    </a>
  </noscript>
  
  <object class='tableauViz' style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
    <param name='embed_code_version' value='3' />
    <param name='site_root' value='' />
    <param name='name' value='DayStrainVSSleepPerfomance/DayStrainVSSleepPerformance' />
    <param name='tabs' value='no' />
    <param name='toolbar' value='yes' />
    <param name='static_image' value='https://public.tableau.com/static/images/Da/DayStrainVSSleepPerfomance/DayStrainVSSleepPerformance/1.png' />
    <param name='animate_transition' value='yes' />
    <param name='display_static_image' value='yes' />
    <param name='display_spinner' value='yes' />
    <param name='display_overlay' value='yes' />
    <param name='display_count' value='yes' />
    <param name='language' value='en-US' />
  </object>
  <script type='module' src='https://prod-useast-b.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script><tableau-viz id='tableau-viz' src='https://prod-useast-b.online.tableau.com/t/smarkgolfer6daf44eafe/views/DSSP/Graph1' width='1242' height='671' hide-tabs toolbar='bottom' ></tableau-viz>
</div> -->



